MONGODB_URI="mongodb+srv://kunwarnkt_db_user:6g9uoCuXzaHsXMO@cluster0.0lv7zp.mongodb.net/app?retryWrites=true&w=majority"
MONGODB_DB="app"

# Send this in request header: x-admin-key: <value>
ADMIN_API_KEY="change-me"

# Frontend accessible admin key (for client-side validation)
NEXT_PUBLIC_ADMIN_KEY="change-me"

# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyC3S_DKmLZASd0Kjx2YP2nfAb4DPnj4GaM"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="fire-smart-ffb1e.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="fire-smart-ffb1e"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="fire-smart-ffb1e.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="521032926979"
NEXT_PUBLIC_FIREBASE_APP_ID="1:521032926979:web:5d81bae239534bbed18b36"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-ZNHF3CQXJ6"

